html{
    box-sizing: border-box;
}
body{
    background-image: url("/src/img/fondonegro.jpg");
    background-size: cover;

    
    

}
form{
    background-color: rgba(165, 42, 42, 0.692);
    padding: 1.5rem;
    width: 20%;
    box-shadow: 0px 0px 5px whitesmoke;
    border-radius: 15px;
    margin-left: 2rem;
     
}
form h1{
    color: whitesmoke;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    margin-bottom: 2rem;
    
}
label{
    font-size: 1.4rem;
    color: whitesmoke;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
}
input[type='text']{
    padding: 1rem;
    outline: none;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
}
.campo{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}



.boton{
    background-color: royalblue;
    color: whitesmoke;
    font-size: 1.4rem;
    padding: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 35%;
    margin: 0 auto;
    
}

.botonTodos{

    background-color: royalblue;
    color: whitesmoke;
    font-size: 1.4rem;
    padding: 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    
    
    
    
}
.cont_boton{
    display: flex;
    justify-content: flex-start;
    margin-left: 12rem;

}

.contenedor_formularios{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    
    
}

textarea{
    resize: none;
    height: 6rem;
    font-size: 1.2rem;
    outline: none;
}

/*estilos al contenedor padre creado en JavaScript */

.padre{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
}

.usuarios{
    box-shadow: 0px 0px 10px white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    

}
p{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
   
}

.contenedorUsuario{
    margin: 2rem;
    background-color:rgba(165, 42, 42, 0.692) ;
    padding: 1rem;
    border-radius: 15px;
    
}

/*Estilos al boton enlace consultar mapas*/

.linkk{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    position: absolute;
    left: 10rem;
    background-color: royalblue;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    top: 1.8rem;
}



